<% if params[:q] %>
<% query = "select * from `mysql_match_tests` where match (`desc`) against ('" + params[:q] + "')" %>
<% @datas = MysqlMatchTest.find_by_sql(query) %>
<% else %>
<% @datas = MysqlMatchTest.all %>
<% end %>
<%= form_tag('/page/search',:method => 'get') do %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>
<% @datas.each do |data| %>
<p><%= data.name %>: <%= data.desc %></p>
<% end %>